
<h1>Editing book</h1>

<%= form_with model: @book do |f|%>

<div class="field">

  <div class="label-title">Title</div>

  <%= f.text_field :title %>

</div>

<div class="field">

  <div class="label-body">Body</div>

  <%= f.text_area :body %>

</div>

<div class="field">
  <%= f.submit 'update book' %>

  <% end %>

</div>

<div><%= link_to "Show",book_path(@book.id), class: 'visited' %> | <%= link_to "Back","/books", class:'visited' %> </div>